# Operating Systems
.DS_Store
.idea


# Credentials
aws-rek-api-cred.csv
credentials.py


# Virtual Environments
.venv-sentimentor
venv-sentimentor/
.python-version
Pipfile
Pipfile.lock


# Python Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Folders
images/*

# Log files
rekognition_logs.txt