MERAKI = {
    "baseURL": "https://api.meraki.com/api/v0",
    "API-Key": "",
    "OrgID": "",
    "NetworkID":"",
    "Camera-Serial":""
}

FLASK = {
    "Flask_HOST": "0.0.0.0",
    "Flask_PORT": 3002
}

POSTGRES = {
    "DBname":"",
    "USER":"",
    "PASSWORD":"",
    "HOST":"",
    "PORT":"",
}

IFTTT = {
    "API_Key":""
}

Webex_Board = {
    "ip_address":""
    "user":""
    "password":""
}